/* CSS navbar */
.icon-nav:hover {
    cursor: pointer;
    fill: black;
    color: black !important;
}

.input-search {
    background-color: #EDF3F8;
    border: none;
}

.icon-logo {
    margin-left: 35px;
}

/* CSS main */

.container-camera {
    border-radius: 50%;
    cursor: pointer;
}

.button-main {
    padding-block: 2px;
    padding-inline: 15px;
    font-weight: 500;
}

.button-main:first-of-type {
    background-color: #0A66C2;
}

.button-main:first-of-type:hover {
    background-color: #004182;
}

.button-main:nth-of-type(2),
.button-main:nth-of-type(3) {
    color: #0A66C2;
    border: 1px solid #0A66C2;
}

.button-main:nth-of-type(2):hover,
.button-main:nth-of-type(3):hover {
    background-color: #EBF4FD;
    border: 1px solid #004182;
    color: #004182;
}

.camera-icon:hover {
    fill: #004182;
}


.pen-icon:hover {
    background-color: #F3F3F3;
    cursor: pointer;
}